# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\home\mthoma\gitea_installer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
